<mat-accordion class="example-headers-align">
    @for(matchData of (matchData$ | async); track matchData.match.id) {
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>{{ matchData.match.name }} </mat-panel-title>
            <mat-panel-description>
                {{ matchData.players.length }}/{{
                    matchData.match.maxTeamPlayers * 2
                }}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <table
            mat-table
            [dataSource]="matchData.players"
            class="mat-elevation-z8"
        >
            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let element">{{ element.no }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.name }}
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">{{ element.action }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </mat-expansion-panel>
    }
</mat-accordion>
