<mat-dialog-content class="text-center">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Place</mat-label>
        <input matInput />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Max players</mat-label>
        <mat-select>
            <mat-option value="6">12 (6v6)</mat-option>
            <mat-option value="7">14 (7v7)</mat-option>
            <mat-option value="9">18 (9v9)</mat-option>
            <mat-option value="11">22 (11v11)</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Starting</mat-label>
        <input matInput [matDatepicker]="date" />
        <mat-hint>DD.MM.YYYY</mat-hint>
        <mat-datepicker-toggle
            matIconSuffix
            [for]="date"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #date></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field>
        <mat-datepicker #picker></mat-datepicker>
        <input matInput [matTimepicker]="time" />
        <mat-timepicker-toggle matIconSuffix [for]="time" />
        <mat-timepicker #time />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Additional info</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onOk()">Ok</button>
</mat-dialog-actions>
